.form-signin {
  text-align: center;

  ion-img {
    padding: 50px;
  }

  .forgot-password {
    margin-bottom: 40px;

    a {
      font-size: 15px;
      color: white;
      text-decoration: underline;
      padding-bottom: 50px;
    }
  }

  .no-account-yet {
    font-size: 15px;
    margin-bottom: 0;
  }
}
    
    