<app-menu></app-menu>
<ion-content class="vertical-center">
  <form id="container"     
  class="form-signin"
  [formGroup]="editUserForm">
    <h2 class="text-center register-subheader">ACCOUNT DETAILS</h2>
    <ion-item color="dark">
      <ion-input
        type="text"
        class="form-control"
        formControlName="firstName"
        placeholder="First name..."
        required
      ></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input
        type="text"
        class="form-control"
        formControlName="lastName"
        placeholder="Last name..."
        required
      ></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input
        type="text"
        class="form-control"
        formControlName="city"
        placeholder="City..."
        required
      ></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input
        type="text"
        class="form-control"
        formControlName="street"
        placeholder="Street..."
        required
      ></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input
        type="text"
        class="form-control"
        formControlName="housenumber"
        placeholder="Housenumber..."
        required
      ></ion-input>
    </ion-item>
    <ion-item color="dark">
      <ion-input
        type="text"
        class="form-control"
        formControlName="postalCode"
        placeholder="Postal code..."
        required
      ></ion-input>
    </ion-item>
    <ion-button color="light" [disabled]="!editUserForm.valid" (click)="submit()">UPDATE USER</ion-button>
    <ion-button color="light" (click)="home()">GO BACK</ion-button>
  </form>
</ion-content>