#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.register-header {
  font-size: 40px;
  font-weight: bold;
}

.register-subheader {
  margin-bottom: 25px;
}