<app-menu [state]="'scooters'"></app-menu>
<div class="ion-page" id="main-content">
  <app-menu-header title="Scooters"></app-menu-header>
  <ion-content class="ion-padding">
    <mat-vertical-stepper [linear]="false" #stepper [animationDuration]="'22'">
      <mat-step [stepControl]="scooterSelection">
        <ng-template matStepLabel>1. Choose your scooter</ng-template>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Brand: {{scooters[index].brand}}</ion-card-title>
            <ion-card-subtitle>Description: {{scooters[index].description}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Licenseplate: {{scooters[index].licensePlate}}
            Price: {{scooters[index].price}}
            Build year: {{scooters[index].year}}
          </ion-card-content>
        </ion-card>
        <ion-list>
          <form id="container" class="form-signin" [formGroup]="scooterSelection" (ngSubmit)="submit()">
            <ion-radio-group formControlName="scooter" [allowEmptySelection]="true" value="scooterSelection">
              <ion-item *ngFor="let scooter of scooters; index as i">
                <ion-thumbnail slot="start">
                  <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
                </ion-thumbnail>
                <ion-label>{{scooter.brand}}</ion-label>
                <ion-radio (click)="index = i" slot="end" value="{{scooter.licensePlate}}"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </form>
        </ion-list>
        <button mat-button [disabled]="!scooterSelection.valid" matStepperNext (click)="submit()">Next</button>
      </mat-step>
      <mat-step [stepControl]="contractSelection">
        <ng-template matStepLabel>2. Choose your contract</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Contract start</mat-label>
          <mat-date-range-input [formGroup]="contractSelection" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Start date">
            <input matEndDate formControlName="end" placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-button [disabled]="!contractSelection.valid" matStepperNext (click)="submit()">Next</button>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>3. Payment selection</ng-template>
        You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </ion-content>
</div>
